Set MaxMeshNumber 1

ReadMesh 1 {{ model.mesh_file }}

{{ model.minimizer }}

Set ExchangeCalculator {{ model.exchange_calculator }}

External Field Strength {{ model.ambient_field.strength }} {{ model.ambient_field.unit }}
External Field Direction {{ model.ambient_field.x }} {{ model.ambient_field.y }} {{ model.ambient_field.z }}

{% for material in model.materials %}
! Subdomain {{ material.index }}, {{ material.name }} at {{ material.temperature }}
setsubdomain {{ material.index }} MS {{ material.ms }}
setsubdomain {{ material.index }} K1 {{ material.k1 }}
setsubdomain {{ material.index }} AEX {{ material.aex }}
{% endfor %}

ReadMagnetization {{ model.field.dat_file }}

ReportEnergy

End
