ReadTecplotPath {{ neb.neb_initial_path_name }}

set MaxEnergyEvaluations {{ neb.max_energy_evaluations }}
set MaxPathEvaluations {{ neb.max_path_evaluations }}

{% for material in neb.materials %}
! Subdomain {{ material.index }}, {{ material.name }} at {{ material.temperature }}C
setsubdomain {{ material.index }} MS {{ material.ms }}
setsubdomain {{ material.index }} K1 {{ material.k1 }}
setsubdomain {{ material.index }} AEX {{ material.aex }}
{% endfor %}

external field strength {{ neb.external_field.strength }} {{ neb.external_field.unit }}
external field direction {{ neb.external_field.x }} {{ neb.external_field.y }} {{ neb.external_field.z }}

EnergyLog {{ neb.energy_log_file }}

{{ neb.minimizer }}
Set ExchangeCalculator {{ neb.exchange_calculator }}

PathMinimize

CloseLogFile
WriteTecPlotPath {{ neb.neb_file_name }}

PathStructureEnergies

End
